html,body{
    background-color: rgb(108, 34, 177);
    margin: 0;
    padding: 0;
}

.wrappe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    width: 600px;
    height: 24px;
    margin-bottom: 10px;
}

#button{
    width: 599px;
    font-size: 20px;
}



.items{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    text-align: center;
}

.items_list{
    display: flex;
}

.item{
    border: 1px solid black;
    width: 230px;
    height: 150px;
    margin-left: 20px;
    background-color: wheat;
    transition: 0.5s;
}

.item:hover{
    color: white;
    width: 300px;
    height: 300px;
    background-color: rgb(32, 10, 53);
}